:root {
    --white: #f4f4f4;
    --off-white: #ccd9d8;
    --black: #181818;
    --half-invis: #00000054;
    --half-invis-light: #43434354;
    --invis: #00000000;
    --secondarl: #adacac;
    --secondary: #9e9e9e;
    --secondark: #6b6b6b;
    --thirdarl: #22c31c;
    --thirdary: #0dac30;
    --thirdark: #087715;
} 

* {
    font-family: sans-serif;
    /*Remove scrollbars*/
    scrollbar-width: none;

    margin: 0;
    padding: 0;

    font-size: 1rem;
    line-height: 1.5rem;
    color: white;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    font-size: clamp(14px, 4vw, 30px);
}

body {
    color: var(--black);
    background-color: white;
    opacity: 0;
    transition: opacity .4s;    
}

body.loaded {
    opacity: 1;
}

#logo {
    z-index: 1;
    width: 3rem;
    height: 3rem;
    background-image: url(logo.png);
    background-size: cover;
    transition: all 0.5s;
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
}

#logo:hover {
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

.branded-bg {
    z-index: -2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(bg2.jpg);
    background-position: center bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.alt-branded-bg {
    z-index: -2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(assets/images/branding/liverreal-bg.png);
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.branded-bg-overlay {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), linear-gradient(var(--invis), var(--invis) 50%);
    background-position: center top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

img.ad {
    width: 100vw;
    height: auto;
    overflow: hidden;
}

*::-webkit-scrollbar {
    display: none;
}

.content {
    z-index: -1;
    max-width: 960px;
    margin: auto;
    backdrop-filter: blur(10px);
    background-color: var(--half-invis);
}

h1 {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 200;
    text-align: center;
}

p {
    font-size: 1rem;
    margin: 1rem;
}

em {
    font-size: 1rem;
}

li {
    font-size: 1rem; 
    margin: 0 0 1rem 2rem;
}

ul {
    font-size: 1rem;
    margin: 0 0rem 1rem 0;
}

strong {
    font-size: 1rem;
}

a {
    text-align: center;
    font-size: 1rem;
    color: aquamarine;
}

.bax {
    border-radius: 20px;
    background-color: #547f59cd;
    padding: 0.2rem;
    margin: 1rem;
}

img {
    width: 100%;
    height: auto;
}

.button-test {
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    will-change: transform;
    margin: 0.2rem;
    padding: 0.5rem 0.5rem;
    text-shadow: 1.5px 1.5px 0px var(--thirdark), 0px 1.5px 0px var(--thirdark), -1.5px 1.5px 0px var(--thirdark);
    background-image: linear-gradient(var(--invis), var(--secondark));
    background-color: var(--secondary);
    transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
    text-align: center;
    border: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, var(--thirdary), var(--thirdark));
    border-radius: 10px;

    filter: drop-shadow(5px 5px 0px var(--half-invis));

}

.button-test:hover {
    transform: scale(0.99) translateZ(0);
    background-color: var(--secondarl);
}

.button-test:active {
    transform: scale(1.1) translateZ(0);
    z-index: 5;
}

.spill {
    width: 100vw;
    max-width: calc(960px - 1.4rem);
    margin: auto;
}

#bar {
    top: 0;
    position: sticky;
    z-index: 999;
    width: 100vw;
    height: 3rem;
    backdrop-filter: blur(10px);
}

.simple-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr;
}