
    /* Hide scrollbar for Firefox */
* {scrollbar-width: none;}
  
  /* Hide scrollbar for Webkit browsers */
*::-webkit-scrollbar {display: none;}

body {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    /* Hide scrollbar*/
    background-color: white;
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    color: var(--black);
    background-color: var(--thirdark);
    opacity: 0;
    transition: opacity .4s;    
}

body.loaded {
    opacity: 1;
}

h1 {
    font-size: 5.9vw;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

h2 {
    position: relative;
    font-size: calc(3vmin + 2vmax);
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 5vh;
    text-align: center;
    color: white;
    z-index: 1;
}

p {
    position: relative;
    font-size: calc(1.5vmin + 1vmax);
    color: white;
}

p.citation {
    font-size: 2vmin;
    font-weight: 600;
}

a {
    text-decoration: none;
    color:aquamarine;
}

button.start {
    width: 100%;
    font-size: calc(1.5vmin + 1vmax);
}

button {
    font-size: calc(1.5vmin + 1.5vmax);
    position: relative;
    color: black;
    outline: solid 0.5vmin rgb(0, 0, 0);
    border-radius: 1vmin;
    background-image: linear-gradient(0,rgb(163, 163, 163, 0.5), rgb(246, 246, 246, 0));
    transform: translate(-50%, 0);
    left: 50%;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.box {
    position: relative;
    background-color: rgba(200, 200, 200, 0);
    backdrop-filter: blur(100px);
    padding: 2vw;
    width: 80vw;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2vmin;
}

.grid {
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
}

.griditems {
    width: 100%;
    height: 25vh;
    padding: 1vw;
}

.smalltext {
font-size: calc(1vmin + 1vmax);
}

#gradient {
position: fixed;
width: 100vw;
height: 100vh;
top: 0;
left: 0;
background-image: linear-gradient(0,rgb(0, 166, 255), rgb(25, 25, 25));
}

#earth {
    position: fixed;
    top: 40vh;
    left: 50vw;
    width: 150vw;
    height: 150vw;
    transform: translate(-50%, 0);
    transition: all 0.5s ease-in;
}

#luksusbar {
    position: fixed;
    z-index: 1;
    top: 75vh;
    left: 10vw;
    height: 5vh;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(100px);
    outline: solid 1vmin black;
    border-radius: 1vmin;
}

#luksusbarfill {
    position: fixed;
    z-index: 2;
    top: 75vh;
    left: 10vw;
    height: 5vh;
    width: 40vw;
    background-color: rgba(255, 255, 0, 0.75);
    backdrop-filter: blur(100px);
    border-radius: 1vmin;
    transition: all 1s ease-in-out;
}

#luksustext {
    position: fixed;
    font-size: calc(1.5vmin + 1vmax);
    z-index: 3;
    top: 75vh;
    left: 11vw;
    line-height: 5vh;
}

#klimabar {
    position: fixed;
    z-index: 1;
    top: 85vh;
    left: 10vw;
    height: 5vh;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(100px);
    outline: solid 1vmin black;
    border-radius: 1vmin;
}

#klimabarfill {
    position: fixed;
    z-index: 2;
    top: 85vh;
    left: 10vw;
    height: 5vh;
    width: 40vw;
    background-color: rgba(106, 255, 0, 0.75);
    backdrop-filter: blur(100px);
    border-radius: 1vmin;
}

#klimatext {
    position: fixed;
    font-size: calc(1.5vmin + 1vmax);
    z-index: 3;
    top: 85vh;
    left: 11vw;
    line-height: 5vh;
}
#logo {
    position: absolute;
    z-index: 100;
    width: 10rem;
    height:10rem;
    top: 0px;
    left: 0px;
    transition: all 0.5s;
  filter: drop-shadow(0 0 5px rgb(255, 255, 255));
}

#logo:hover {
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

#logoimg {
    width: 10rem;
    height: 10rem;
}

.center {
    text-align: center;
}

#info {
    position: fixed;
    left: 11rem;
    top: 0rem;
}

#ver {
    font-size: 0.5rem;
    color: gray;
    z-index: 1000;
    position: fixed;
    right: 0rem;
    bottom: 0rem;
    text-align: right;
}

.bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 0;
}